@import "src/styles.scss";

:host { // Fill all space given by the parent
    width: 100%;
    height: 100%;
}
#main {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: 100%;

    #search-container {
        flex-grow: 0;
        width: 80%;
        height: 30px;
        margin-top: 10vh;
        margin-bottom: 5vh;
        #search {
            width: 100%;
            height: 100%;
            background-color: $color-background-highlight;
            border: 2px solid darken($color-background-highlight, 20%);
        }
        .search-icon {
            $icon-size: 30px;
            width: $icon-size;
            margin-left: -$icon-size;
            display: inline;
        }
    }
    #panel-container {
        width: calc(100% - 40px - 40px);
        height: auto;
        margin-bottom: 40px;
    }
    #panel {
        display: flex;
        flex-direction: column;

        #card-gallery {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap; // Wrap content
            justify-content: flex-start;
            gap: 20px; // Distance between cards
        }
        #paginator {
            display: flex;
            flex-direction: row;
            justify-content: center;

            #back, #pager, #next {
                $buttonSize: 25px;
                width: $buttonSize;
                height: $buttonSize;
                border: none;
                border-radius: 50%;
                background-color: $color-background-highlight;
                color: $color-text-descriptive-light;
                text-align: center;
                text-decoration: none;
                @include font-button;
                user-select: none;
                cursor: pointer;
                margin: 20px;
            }
            #back[disabled], #pager[disabled], #next[disabled] {
                background-color: lighten($color-background-highlight, 5%);
                color: lighten($color-text-descriptive-light, 30%);
                cursor: default;
            }
            #back:hover:not([disabled]), #pager:hover:not([disabled]), #next:hover:not([disabled]) {
                background-color: lighten($color-background-highlight, 5%);
            }
            #back:active:not([disabled]), #pager:active:not([disabled]), #next:active:not([disabled]) {
                background-color: darken($color-background-highlight, 10%);
            }
        }

        $cardSize: 180px;

        app-loading {
            width: 100%;
            height: $cardSize;
        }

        .card {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;

            width: $cardSize;
            height: calc($cardSize - 20px);
            border-radius: 20px;
            background-color: $color-background-highlight;
            text-align: center;

            .card-title {
                display: block;
                font-size: 1.1em;
                margin-block: 15px;
                @include font-title;
                user-select: none;
                cursor: pointer;
            }
            .card-body {
                display: block;
                margin-bottom: 10px;
                @include font-text-body;
            }

            app-button-popup-menu {
                align-self: flex-end;
                margin: 10px;
                margin-top: calc($cardSize - 20px - 25px - 10px);
                position: absolute;

                .popup-menu {
                    border-radius: 10px; // Curved corners
                    border: 1px solid darken($color-background-highlight, 20%);
                    background-color: $color-background-highlight;

                    .popup-item {
                        white-space: nowrap;
                        padding: 5px;
                        @include font-text-body;
                        user-select: none;
                        cursor: pointer;
                    }
                    .popup-item[disabled] {
                        cursor: default;
                        opacity: 0.4;
                        pointer-events: none;
                    }
                    .popup-item:first-child:not(:last-child) {
                        border-radius: 10px 10px 0px 0px; // Curved top corners
                    }
                    .popup-item:last-child:not(:first-child) {
                        border-radius: 0px 0px 10px 10px; // Curved bottom corners
                    }
                    .popup-item:first-child:last-child {
                        border-radius: 10px; // Curved corners
                    }
                    .popup-item:not(:first-child) {
                        border-top: 1px solid darken($color-background-highlight, 20%); // Separation line
                    }
                    .popup-item:hover {
                        background-color: lighten($color-background-highlight, 5%);
                    }
                    .popup-item:active {
                        background-color: darken($color-background-highlight, 5%);
                    }
                }
            }
        }
    }
}