@import "src/styles.scss";

#main {
    displaY: flex;
    flex-direction: row;
    justify-content: space-between;

    font-size: 10px;
    padding-inline: 10px;
    @include font-text-body;
    color: black;
}

#main.darkBackground {
    color: white;
}