@import "src/styles.scss";

#main {
    display: flex;
    flex-direction: row;

    min-width: calc(100vw - (100vw - 100%)); // Chrome has scroll, which takes space
    min-height: 100vh;
    height: fit-content;
    width: fit-content;

    #sidebar {
        display: flex;
        flex-direction: column;
        justify-content: stretch;

        flex-grow: 0;
        width: 150px;
        background-color: rgba($color-background-secondary-dark, 0.7);

        #logo {
            top: 0px;
            width: 100%;
            margin-left: 5px; // Move a little to the right
            margin-bottom: 10px;
            pointer-events: none; // Undraggable
        }
        .page-link {
            margin-block: 10px;
            @include font-title;
            color: $color-background-highlight;
            user-select: none; // Undraggable

            .item-icon {
                width: 20px;
                margin-left: 15px;
                margin-right: 5px;
            }
        }
        .highlighted {
            color: $color-background-support;
        }
    }
}