<div id="main">
    <div id="sidebar">
        <div id="logo-container" (click)="toColleagues()">
            <img id="logo" src="logo.png" alt="UNIVESPERS"/>
        </div>
        <div class="page-link" disabled>
            <i class="item-icon fas fa-user fa-lg"></i>Perfil
        </div>
        <div class="page-link" (click)="toColleagues()" [class.active]="isActive('/colegas')">
            <i class="item-icon fas fa-user-friends fa-flip-horizontal fa-lg"></i>Colegas
        </div>
        <div class="page-link" disabled>
            <i class="item-icon fas fa-users-cog fa-flip-horizontal fa-lg"></i>Grupo
        </div>
        <div class="page-link" (click)="toChat()" [class.active]="isActive('/chat')">
            <i class="item-icon fas fa-comment-alt fa-lg"></i>Chat
        </div>
        <div class="page-link logout" (click)="toLogout()">
            <i class="item-icon fas fa-sign-out-alt fa-lg"></i>Logout
        </div>
    </div>
    <router-outlet />
</div>
