@import "src/styles.scss";

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: stretch;

    @include font-text-body;
}
.step-title {
    color: $color-text-title-highlight-light;
}
.text-field-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}
.text-field {
    width: 60%;
    height: 30px;
    padding-inline: 10px;
    @include font-text-body;
}
