@import "src/styles.scss";

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: stretch;
}
.step-title {
    color: $color-text-title-highlight-light;
}
input {
    height: 30px;
    padding-inline: 10px;
    margin-bottom: 20px;
}