<div id="main">

    <!-- Search bar -->
    <div id="search-container">
        <input id="search"
            type="text"
            placeholder="Busque pelo nome, curso ou polo"/>
        <i class="search-icon fa fa-search fa-lg"></i>
    </div>

    <!-- Colleagues -->
    <div id="panel-container">
        <div id="panel">

            <!-- Colleague -->
            <div class="card" *ngFor="let colleague of getColleagues()">
                <span class="card-title">{{ colleague.name }}</span>
                <span class="card-body">{{ colleague.course }}</span>
                <span class="card-body">{{ colleague.pole }}</span>
                <button class="card-details">...</button>
            </div>

        </div>
    </div>

</div>