<div id="main">
    <div id="search-container">
        <input id="search"
            type="text"
            placeholder="Busque pelo nome, curso ou polo"/>
        <i class="search-icon fa fa-search fa-lg"></i>
    </div>
    <div id="panel-container">
        <div id="panel">
    
            <!-- Examples -->
            <div class="card">
                <span class="card-title">Guilherme Duarte</span>
                <span class="card-body">Ciência de dados</span>
                <span class="card-body">Jardim Paulistano</span>
                <button class="card-details">...</button>
            </div>
            <div class="card">
                <span class="card-title">Kenneth Stanley</span>
                <span class="card-body">BTI</span>
                <span class="card-body">Alto Alegre</span>
                <button class="card-details">...</button>
            </div>
    
        </div>
    </div>
</div>