<div id="main">

    @if(isLoading) {
        <app-loading/>
    } @else {
        <!-- Colleague-Details -->
        <div id="colleague-details">
            <h2 id="colleague-name">{{ colleagueDetails?.name ?? "Nome" }}</h2>
            <p id="colleague-description">{{ colleagueDetails?.description ?? "" }}</p>
            <div>
                <i class="item-icon fas fa-graduation-cap fa-lg fa-flip-horizontal"></i>
                <span>{{ colleagueDetails?.course ?? "Curso" }}</span>
            </div>
            <div>
                <i class="item-icon fas fa-building fa-lg"></i>
                <span>{{ colleagueDetails?.pole ?? "Polo" }}</span>
            </div>
            <div [hidden]="!colleagueDetails?.telephone">
                <i class="item-icon fas fa-lg" [ngClass]="{'fab fa-whatsapp': colleagueDetails?.isWhatsapp, 'fas fa-phone': !colleagueDetails?.isWhatsapp}"></i>
                <span>{{ colleagueDetails?.telephone }}</span>
            </div>
            <div [hidden]="!colleagueDetails?.contacts?.email">
                <i class="item-icon fas fa-at fa-lg"></i>
                <span>{{ colleagueDetails?.contacts?.email }}</span>
            </div>
            <div [hidden]="!colleagueDetails?.contacts?.linkedin">
                <i class="item-icon fab fa-linkedin fa-lg"></i>
                <span>{{ colleagueDetails?.contacts?.linkedin }}</span>
            </div>
            <div [hidden]="!colleagueDetails?.contacts?.facebook">
                <i class="item-icon fab fa-facebook fa-lg"></i>
                <span>{{ colleagueDetails?.contacts?.facebook }}</span>
            </div>
            <div [hidden]="!colleagueDetails?.contacts?.instagram">
                <i class="item-icon fab fa-instagram fa-lg"></i>
                <span>{{ colleagueDetails?.contacts?.instagram }}</span>
            </div>
            <div [hidden]="!colleagueDetails?.contacts?.discord">
                <i class="item-icon fab fa-discord fa-lg"></i>
                <span>{{ colleagueDetails?.contacts?.discord }}</span>
            </div>
            <div [hidden]="!colleagueDetails?.contacts?.github">
                <i class="item-icon fab fa-github fa-lg"></i>
                <span>{{ colleagueDetails?.contacts?.github }}</span>
            </div>
            <div [hidden]="!colleagueDetails?.contacts?.reddit">
                <i class="item-icon fab fa-reddit fa-lg"></i>
                <span>{{ colleagueDetails?.contacts?.reddit }}</span>
            </div>
        </div>
    }

</div>