:host { // Fill all space given by the parent
  width: 100%;
  height: 100%;
}

.container {
  display: flex;
  height: calc(100vh - 10px);
}

.chat-list {
  width: 40%;
  margin: 10px;
  background: #afaeae;
  border-radius: 16px;
}

.messages {
  width: 60%;
  margin: 10px;
  border-radius: 16px;
}

.search-input {
  margin: 24px;
  width: calc(100% - 48px); // 100% menos as margens laterais
}

::ng-deep .search-input .mat-mdc-form-field-infix {
  background-color: #fff; // fundo branco
}

::ng-deep .search-input .mat-mdc-text-field-wrapper {
  background-color: #fff !important; // deixa o container branco
}

::ng-deep .search-input .mat-mdc-form-field-infix {
  background-color: #fff !important; // garante que o meio também seja branco
}

::ng-deep .search-input .mat-mdc-form-field {
  width: 100%; // garante que o mat-form-field ocupe toda a largura disponível
}

.conversation-item {
  padding: 8px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}

.conversation-item:hover {
  background-color: #f5f5f5;
}

.messages {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 12px;
}

.message {
  margin: 6px 0;
  padding: 8px 12px;
  border-radius: 12px;
  background: #e0e0e0;
  max-width: 70%;
}

.message-input {
  display: flex;
  margin-top: auto;
  gap: 8px;
}

.message-input input {
  flex: 1;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.chat-filters {
  display: flex;
  gap: 8px;
  margin: 0 24px 16px 24px;
}
