<div class="container">
  <!-- Lista de conversas -->
  <div class="chat-list mat-elevation-z5">
    <!-- Input de busca -->
    <div class="search-input">
      <mat-form-field>
        <input
          matInput
          placeholder="Procurar usuário"
          [formControl]="searchControl"
          [matAutocomplete]="users"
        />
      </mat-form-field>

      <mat-autocomplete #users="matAutocomplete" (optionSelected)="onUserSelected($event.option.value)">
        <mat-option *ngFor="let user of filteredUsers$ | async" [value]="user">
          {{ user.nome }}
        </mat-option>
      </mat-autocomplete>

    </div>

    <!-- Botão para abrir popup de grupo -->
    <button mat-raised-button color="primary" (click)="openGroupPopup()">
      + Novo Grupo
    </button>

    <!-- Filtros -->
    <div class="chat-filters">
      <button mat-button color="primary" (click)="setFilter('all')" [disabled]="currentFilter==='all'">Todos</button>
      <button mat-button color="accent" (click)="setFilter('unread')" [disabled]="currentFilter==='unread'">Não lidos</button>
      <button mat-button color="warn" (click)="setFilter('group')" [disabled]="currentFilter==='group'">Grupos</button>
    </div>

    <div
      *ngFor="let conv of filteredConversations$ | async"
      (click)="openConversation(conv)"
      class="conversation-item"
      [class.selected]="selectedConversation?.id === conv.id"
    >
      <p><b>{{ getConversationTitle(conv) }}</b></p>
      <small>Última: {{ getLastMessage(conv) }}</small>
    </div>

  </div>

  <!-- Área de mensagens -->
  <div class="messages mat-elevation-z5">
    <div *ngFor="let msg of messages$ | async" class="message">
      <strong>{{ getSenderName(msg.senderId) }}:</strong>
      <span>{{ msg.text }}</span>
    </div>

    <div *ngIf="selectedConversation" class="message-input">
      <input #newMsg placeholder="Digite sua mensagem..." />
      <button (click)="sendMessage(newMsg.value); newMsg.value=''">Enviar</button>
    </div>
  </div>
</div>
