<div id="main">

    <!-- Logo -->
    <img />

    <div id="parent-container">
        <!-- Signin -->
        <div id="signin-container">
            <div class="header">
                Criar uma nova conta
            </div>
            <app-user-data-form *ngIf="currentStep == 0"/>
            <app-user-contacts-form *ngIf="currentStep == 1"/>
            <app-user-course-form *ngIf="currentStep == 2"/>
        </div>

        <!-- Signin button -->
        <button id="signin">Avançar</button>
    </div>

</div>