<form #userCourseForm="ngForm" (ngSubmit)="submit(userCourseForm)">
    <p class="step-title">
        <b>Dados do curso</b>
    </p>
    <div class="text-field-container">
        <input id="course" class="text-field"
            type="text"
            placeholder="Curso"
            required
            minlength="6"
            maxlength="100"
            name="userCourse"
            #userCourse="ngModel"
            ngModel/>
    </div>
    <div class="text-field-container">
        <input id="pole" class="text-field"
            type="text"
            placeholder="Polo"
            required
            minlength="6"
            maxlength="100"
            name="userPole"
            #userPole="ngModel"
            ngModel/>
    </div>
    <div class="text-field-container">
        <input id="currentSemester" class="text-field"
            type="text"
            placeholder="Semestre atual"
            required
            minlength="6"
            maxlength="100"
            name="userCurrentSemester"
            #userCurrentSemester="ngModel"
            ngModel/>
    </div>
    <div class="text-field-container">
        <input id="interests" class="text-field"
            type="text"
            placeholder="Temas de interesse de pesquisa"
            required
            minlength="6"
            maxlength="100"
            name="userInterests"
            #userInterests="ngModel"
            ngModel/>
    </div>
    <div class="text-field-container">
        <input id="skills" class="text-field"
            type="text"
            placeholder="Habilidades e competências"
            required
            minlength="6"
            maxlength="100"
            name="userSkills"
            #userSkills="ngModel"
            ngModel/>
    </div>
    <div class="text-field-container">
        <input id="subjects" class="text-field"
            type="text"
            placeholder="Matérias cursando atualmente"
            required
            minlength="6"
            maxlength="100"
            name="userSubjects"
            #userSubjects="ngModel"
            ngModel/>
    </div>
</form>