<div id="main">

    <!-- Login -->
    <div id="login-container">
        <form>
            <img src="" alt="UNIVESPERS" />
            <input id="username" type="email" name="username_input" placeholder="Email"/>
            <input id="password" type="password" name="password_input" placeholder="Senha"/>
            <button id="login">Entrar</button>
            <button id="forgot">Esqueceu a senha?</button>
            <div class="dashed-text-container">
                <hr /> <span>ou</span> <hr />
            </div>
            <button id="signin">Criar nova conta</button>
        </form>
    </div>

</div>