<div id="main">

    @if(isLoading) {
        <app-loading/>
    } @else {
        <!-- Colega-Details -->
        <div id="colega-details">
            <h2 id="colega-name">{{ colegaDetails?.name ?? "Nome" }}</h2>
            <p id="colega-description">{{ colegaDetails?.description ?? "" }}</p>
            <div>
                <i class="item-icon fas fa-graduation-cap fa-lg fa-flip-horizontal"></i>
                <span>{{ colegaDetails?.course ?? "Curso" }}</span>
            </div>
            <div>
                <i class="item-icon fas fa-building fa-lg"></i>
                <span>{{ colegaDetails?.pole ?? "Polo" }}</span>
            </div>
            <div [hidden]="!colegaDetails?.telephone">
                <i class="item-icon fas fa-lg" [ngClass]="{'fab fa-whatsapp': colegaDetails?.isWhatsapp, 'fas fa-phone': !colegaDetails?.isWhatsapp}"></i>
                <span>{{ colegaDetails?.telephone }}</span>
            </div>
            <div [hidden]="!colegaDetails?.contacts?.email">
                <i class="item-icon fas fa-at fa-lg"></i>
                <span>{{ colegaDetails?.contacts?.email }}</span>
            </div>
            <div [hidden]="!colegaDetails?.contacts?.linkedin">
                <i class="item-icon fab fa-linkedin fa-lg"></i>
                <span>{{ colegaDetails?.contacts?.linkedin }}</span>
            </div>
            <div [hidden]="!colegaDetails?.contacts?.facebook">
                <i class="item-icon fab fa-facebook fa-lg"></i>
                <span>{{ colegaDetails?.contacts?.facebook }}</span>
            </div>
            <div [hidden]="!colegaDetails?.contacts?.instagram">
                <i class="item-icon fab fa-instagram fa-lg"></i>
                <span>{{ colegaDetails?.contacts?.instagram }}</span>
            </div>
            <div [hidden]="!colegaDetails?.contacts?.discord">
                <i class="item-icon fab fa-discord fa-lg"></i>
                <span>{{ colegaDetails?.contacts?.discord }}</span>
            </div>
            <div [hidden]="!colegaDetails?.contacts?.github">
                <i class="item-icon fab fa-github fa-lg"></i>
                <span>{{ colegaDetails?.contacts?.github }}</span>
            </div>
            <div [hidden]="!colegaDetails?.contacts?.reddit">
                <i class="item-icon fab fa-reddit fa-lg"></i>
                <span>{{ colegaDetails?.contacts?.reddit }}</span>
            </div>
        </div>
    }

</div>