<header id="main">
    <nav id="sidebar">
        <button title="Ir para tela principal" id="logo-container" (click)="redirectToColegas()" tabindex="1">
            <img id="logo" src="logo.png" alt="UNIVESPERS"/>
        </button>
        <button class="page-link" (click)="redirectToPerfil()" disabled tabindex="2">
            <i class="item-icon fas fa-user fa-lg"></i>Perfil
        </button>
        <button class="page-link" (click)="redirectToColegas()" [class.active]="isActive('/colegas')" tabindex="3">
            <i class="item-icon fas fa-user-friends fa-flip-horizontal fa-lg"></i>Colegas
        </button>
        <button class="page-link" disabled tabindex="4">
            <i class="item-icon fas fa-users-cog fa-flip-horizontal fa-lg"></i>Grupo
        </button>
        <button class="page-link" (click)="redirectToChat()" [class.active]="isActive('/chat')" tabindex="5">
            <i class="item-icon fas fa-comment-alt fa-lg"></i>Chat
        </button>
        <button class="page-link logout" (click)="redirectToLogout()" tabindex="6">
            <i class="item-icon fas fa-sign-out-alt fa-lg"></i>Logout
        </button>
    </nav>
    <router-outlet />
</header>
