@import "src/styles.scss";

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: stretch;

    @include font-text-body;
}
.step-title {
    color: $color-text-title-highlight-light;
}
.text-field-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}
.text-field {
    width: 60%;
    height: 30px;
    padding-inline: 10px;
    @include font-text-body;
}
textarea {
    height: 30px;
    min-width: calc(60%); // (width - borders - paddings)
    max-width: calc(60%); // (width - borders - paddings)
    min-height: 30px;
    max-height: 150px;
    padding-inline: 10px;
    padding-top: 8px;
    @include font-text-body;
    font-size: 13px;
}
#telephone + div {
    display: flex;
    flex-direction: column;
}
div:has(#telephone) {
    display: flex;
    flex-direction: row;
}