<form #userDataForm="ngForm" (ngSubmit)="submit(userDataForm)">
    <p class="step-title">
        <b>Dados pessoais</b>
    </p>
    <div class="text-field-container">
        <input id="name" class="text-field"
            type="text"
            placeholder="Nome"
            required
            minlength="6"
            maxlength="100"
            name="userName"
            #userName="ngModel"
            ngModel/>
    </div>
    <div class="text-field-container">
        <input id="institutionalEmail" class="text-field"
            type="email"
            placeholder="Email institucional"
            required
            minlength="6"
            maxlength="100"
            name="userInstitutionalEmail"
            #userInstitutionalEmail="ngModel"
            ngModel/>
    </div>
    <div class="text-field-container">
        <input id="telephone" class="text-field"
            type="tel"
            placeholder="Telefone"
            name="userTelephone"
            #userTelephone="ngModel"
            ngModel/>
        <div>
            <div>
                <input id="showTelephone"
                    type="checkbox"
                    name="userShowTelephone"
                    #userShowTelephone="ngModel"
                    ngModel/>
                <label for="userShowTelephone"> Exibir para os colegas</label>
            </div>
            <div>
                <input id="isWhatsapp"
                    type="checkbox"
                    name="userTelIsWhatsapp"
                    #userTelIsWhatsapp="ngModel"
                    ngModel/>
                <label for="userTelIsWhatsapp"> WhatsApp</label>
            </div>
        </div>
    </div>
    <div class="text-field-container">
        <input id="password" class="text-field"
            type="password"
            placeholder="Senha"
            required
            minlength="6"
            maxlength="100"
            name="userPassword"
            #userPassword="ngModel"
            ngModel/>
    </div>
    <div class="text-field-container">
        <input id="passwordConfirmation" class="text-field"
            type="password"
            placeholder="Confirmar senha"
            required
            minlength="6"
            maxlength="100"
            name="userPasswordConfirmation"
            #userPasswordConfirmation="ngModel"
            ngModel/>
    </div>
    <div class="text-field-container">
        <textarea id="description"
            placeholder="Sobre mim"
            name="userDescription"
            #userDescription="ngModel"
            ngModel></textarea>
        <input id="showDescription"
            type="checkbox"
            name="userShowDescription"
            #userShowDescription="ngModel"
            ngModel/>
        <label for="userShowDescription"> Exibir para os colegas</label>
    </div>
</form>